body {
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: rgb(212, 226, 241);
}

#scheduleex-wrapper {
    overflow: auto;
    height: 80vh;
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

canvas#scheduleex {
    margin: 40px;
}
