<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scheduleex.css') }}" />
    <title>ScheduLeex</title>
</head>

<body>
    <div id="scheduleex-wrapper">
        <canvas id="scheduleex" width="560" height="350"></canvas>
        <!-- <table id="scheduleex" scheduleex-calendar>

        </table> -->
    </div>

    <script src="{{ url_for('static', filename='js/scheduleex.js') }}"></script>
</body>

</html>
